<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Capacitor CPU monitoring
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="monitoring-container">
    <div class="range">
      <ion-item>
        <h2>Update Interval</h2>
      </ion-item>
      <ion-item>
        <ion-range min="100" max="10000" [ngModel]="refreshIntervalMillis" (ionInput)="onRangeValueChange($event)">
          <ion-icon (click)="updateRefreshIntervalMillis(-100)" slot="start" size="small" name="arrow-back-circle-outline"></ion-icon>
          <ion-icon (click)="updateRefreshIntervalMillis(100)" slot="end" size="small" name="arrow-forward-circle-outline"></ion-icon>
        </ion-range>
      </ion-item>
      <ion-item>
        <ion-label>Update interval: {{ convertToSeconds(refreshIntervalMillis) }} seconds</ion-label>
      </ion-item>
    </div>

    <div class="chart">
      <app-bar-chart [refreshIntervalMillis]="refreshIntervalMillis" [charset]="charset"></app-bar-chart>
    </div>

    <ion-accordion-group class="technical">
      <ion-accordion value="first">
        <ion-item slot="header" color="light">
          <ion-label>Technical data ({{ charset.length }} lines)</ion-label>
        </ion-item>
        <pre slot="content">{{ charset | json }}</pre>
      </ion-accordion>
    </ion-accordion-group>
  </div>
</ion-content>
